body {
    font-family: sans-serif;
    background-color: rgb(241, 179, 228);
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(15, 126, 15);
}
.gallery img {
     padding-right: 20px;
     padding-bottom: 20px;
     filter: opacity(100%);
}
.gallery img:hover {
    filter:opacity(85%);
    transform: scale(1.1);
}
.left {
    padding-left: 40px;
}