body {
    margin:50px;
    margin-left: 70px;
    margin-right: 70px;
    font-family:'Times New Roman', Times, serif;
    padding:10px;
    background-color: forestgreen;
    box-sizing: border-box;
}
.heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    color: black;
    border-radius: 4px;
}
.container {
    background-color: white
}
.container p,input{
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
.container input{
    background-color:rgb(224, 221, 221) ;
}
button {
    color: white;
    background-color: forestgreen;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    opacity: 80%;
    align-items: center;
}
button:hover{
    cursor: pointer;
    opacity: 100%;
}
